.jumbotron {
  background-color: #DEB887;
  color: #006400;
  border: 2px solid black;
}

h2 {
  text-align: center;

}

img {
  display: block;
  margin: auto;
}

p {
  border: 3px solid #006400;
  text-align: center
}

.footer {
  background-color: #DEB887;;
  color: #006400;
}

a {
  background-color: #006400;
  color: #DEB887;;
}

body {
  background-color: #DEB887;;
}
