<h2>{{samus.message}}</h2>

<img class="bioImg" src="../../styles/images/samus.jpg" alt="Samus Aran" style="width:250px;height:500px;"/>

<p class="info">
  Samus Aran is an ex-soldier of the Galactic Federation who turned into a galactic bounty hunter, usually fitted with a powered exoskeleton that is equipped with weapons such as directed-energy weapons and missiles. Throughout the series, she executes missions given to her by the Galactic Federation while hunting the antagonistic Space Pirates and their leader Ridley, along with the parasitic energy-draining organisms called Metroids.
</p>
